<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
        <configuration>
                <environments default="environment01">
                <environment id="enviroment01">
                <transactionManager type="JDBC"></transactionManager>
                <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc.mysql://localhost:3306/docys?useSSL=ture&amp;useUnicode=true&amp;characterEncoding=UTF-8&amp;ServerTime"/>
                <property name="username" value="root"/>
                <property name="password" value="123456"/>
            </dataSource>
        </environment>
     </environments>
    <mappers>
    <mapper resource="mapper/TblUserMapper.xml"></mapper>
</mappers>
</configuration>
        <!-- 配置打印 SQL 到控制台 以及懒加载 -->

