<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE mapper
        PUBLIC ?-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mappper.dtd>
        <mapper namespace="com.ckcj.mapper.tblRoleMapper">

        <select id="findRoleUsers"parmeterType="String"resultMap="roldUserMap">
        select * from tbluser u,tblrole r where u.rid and  r.rid=#{rid}
        </select>
        <select id="findRoleUsers"parameterType="String" ResultMap="roldUserMap">
        <resultMap id="roldUserMap" type="TblRole">
        <id property="rid"column="rname"></id>
         <result property="rname" column=rname>0 </result>
        <collection property="tblUsers"javaType="java.util.list"ofType="TblUser"column="rid">
        <id property="usersid" column="userid"></id>
        <result poperty="rid"column="rid">    </result>
        <result poperty="uname"column ="uname"></result>
        <result poperty="upwd" column ="upwd"></result>
        <result poperty="money"column ="money"></result>
        <result poperty="phone"column ="phone"></result>
        <!-- ??? property ??????????????column???-->
        <association property="tblrole"column="rid"
                  javaType="com.ckcj.entity.Tblrole select="findRoleById"></association>
                  </resultMap>

                  </mapper>
         <select id="findUserRole2" parameterType="String" resultMap"userRoleMap">
              select*from tbluser u, tblrole r where u.rid=r.rid and u.uid=#{userId}
              </select>

        <resultMap id="userRoleMap" type="com.ckcj.entity.Tbluser">
        </resultMap>
        </select>

        </mapper>